{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="text-center"><time itemprop="datePublished" datetime="30.08.2019">Добро пожаловать!</time></div>
<h1 class="text-center">Weight Assistant</h1>
<div  class="preview-text lead text-center;" itemprop="articleBody">
   <p>
	 Weight Assistant - это современный помощник по борьбе с лишним весом или с недостатком веса. Он помогает людям держать хорошую форму и быть в тонусе.
       Данный сайт поможет вам решить все проблемы!
</p>  </div>
<hr>
<div  class="preview-text lead text-center" itemprop="articleBody">
   <p>
	 Ожирение — глобальная эпидемия XXI века. Современное технологическое развитие медицины, гигиены позволило победить практически все серьезные заболевания в мировом масштабе. Только ожирение продолжает свою тяжелую поступь по планете, набирая темпы. Если в 2011 году уровень распространения в России составлял 23%, то к 2018 году уже 28%. Последствия страшные — сахарный диабет второго типа, гипертоническая болезнь, инфаркты, инсульты — занимают первые места в структуре смертности жителей всех развитых стран. Почему же это так, и что с этим делать? Незамедлительно переходить к лечению!
</p>  </div>
<div class="detail-picture text-center">
    <img src="/static/images/image1.jpg" alt="Картинка" width="750" />
</div>
{% endblock %}